.hotspot {
  position: absolute;
  display: block;
  border-radius: 50%;
}

/* Instagram */
.instagram {
  right: 15.8%;
  bottom: 3.1%;
  width: 2.7%;
  height: 4.8%;
}

/* WhatsApp */
.whatsapp {
  right: 11.7%;
  bottom: 3.1%;
  width: 2.7%;
  height: 4.8%;
}

/* تواصل معنا (زر فوق) */
.contact {
  left: 13.5%;
  top: 39%;
  width: 10%;
  height: 5.5%;
  border-radius: 12px;
}
